.register-form1 {
    background-color: rgb(253, 252, 252);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  
  .app1 {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #e6e7ee;
    background-image: url("../images/consulting.avif");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .btn1 {
    background-color: #131513;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: fit-content;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .register-form1 {
      width: 100%;
      padding: 1rem;
    }
  }
  